# created by virtualenv automatically
#Ignore database
assets/blackjack.db

blackjack.db
#Ignore virtual Environment
.venv/
*.pyc
*.db
*.sqlite3
*.env
.env
assets/.env
assets/apikey.py
assets/_pycache
