[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
typer = "*"
prompt-toolkit = "*"
npyscreen = "*"
argparse = "*"
sqlalchemy = "*"
playsound = "*"

[dev-packages]
rich = "*"
typer = "*"
prompt-toolkit = "*"
npyscreen = "*"
argparse = "*"
sqlalchemy = "*"
playsound = "*"

[requires]
python_version = "3.8"
